.userWrp {
	min-height: calc(100vh - 225px);
}

.user-info {
	border: 0.5px solid rgb(28, 34, 66);
	max-width: 600px;
	margin: 20px auto;
	padding: 10px;
	margin-top: 60px;
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
}

.user-info .img {
	text-align: center;
	grid-column: 1/3;
	position: relative;
	padding-bottom: 70px;
}

.user-info .img i {
	background: #fff;
	font-size: 100px;
	color: rgb(28, 34, 66);
	position: absolute;
	top: -50px;
	left: 50%;
	margin-left: -50px;
}

.user-info-value {
	width: 100%;
}

.user-info-value.password {
	grid-column: 1/3;
	text-align: center;
}

.user-info-value input {
	width: 100%;
}

.editBtn {
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
	grid-column: 1/3;
}

.editBtn i {
	color: #fff;
	margin: 0;
	margin-right: 5px;
}