<div class="inputForm">

  <div class="signin-signup">
    <a routerLink="/login" class="">Sign in</a>
    <a routerLink="/register" class="">Sign Up</a>
  </div>

  <h2>Forgot password?</h2>

  <div class="inputField">
    <label for="userName">Email</label>
    <input type="text" name="userName" id="emailCheck">
  </div>

  <h4>Are you robot?</h4>
  <div class="inputField">
    <label for="answer">{{num1}} + {{num2}} = ???</label>
    <input type="number" name="answer" id="robotCheck">
  </div>

  <router-outlet></router-outlet>

  <div class="inputSubmit">
    <input type="submit" value="Submit" class="submitButton" id="showPasswordBtn" (click)=checkRobot($event)>
  </div>

</div>