@media screen and (max-width: 1032px) {
  body {
    margin: 0 auto;
    min-height: 100vh;
  }
}
@media screen and (max-width: 780px) {
  header {
    grid-template-columns: 100%;
  }
  .logo, .social {
    border-bottom: none;
    color: #888;
  }
  .social {
    padding-left: 0;
    text-align: left;
    border-bottom: 1px solid #BDD5EA;
  }

  h1 {
    text-align: left;
    font-size: 2.6em;
    grid-column: 1/2;
  }
  .user_data {
    grid-template-columns: 100%;
    grid-template-rows: 220px;
  }
  .user_data .user_img {
    width: 200px;
    justify-self: center;
    padding-top: 20px;
  }
  .user_data img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
  }
  .user_data .name {
    text-align: center;
  }
  .user_data .info {
    grid-template-columns: 40% calc(60% - 30px);
  }


  .day {
    /*display: none;*/
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    /*padding: 4%;*/
  }
  .day .mon_icon {
    width: 60px;
    height: 60px;
    margin: 10px 20px;
    margin-right: 0;
  }
  .work {
    padding: 30px 20px;
    padding-top: 50px;
  }
  .add_work_btn {
    grid-column: 1/2;
    font-size: 1.5em;
  }
  .day .close, .schedule_comfirm .close {
    top: 5px;
    right: 5px;
  }
  .day .close:after {
    font-size: 1.8em;
  }
  .work_time_btns {
    grid-template-columns: 50% 50%;
  }
  .work_time_btns button {
    width: 100%;
  }
  .time_from, .time_to {
    padding: 10px;
  }
  .time_from h3, .time_to h3 {
    text-align: center;
    font-weight: 500;
    font-size: 1.2em
  }
  .time_from {
    justify-self: end;
  }
  .time_to {
    justify-self: start;
  }
  .time_from input, .time_to input{
    width: 100%;
  }
  .wickedpicker {
    right: 30.4px!important;
    /*left: 30.4px;*/
    left: 30.4px!important;
    width: calc(100% - 60.8px)!important;
  }
  .schedule_comfirm {
    display: none;
    position: fixed;
    z-index: 40;
    background: #fff;
    top: 4%;
    /*max-width: 800px;*/
    width: 92%;
    left: 50%;
    margin-left: -46%;
    padding: 4%;
  }
  .btns {
    display: grid;
    /*grid-template-columns: 50% 50%;*/
  }

  .day_name {
    font-size: 1.2em;
    margin: 10px 0;
    width: 100%;
  }
  .schedule_day {
    flex-wrap: wrap;
  }
  .days {
    display: grid;
    grid-template-columns: repeat(3, calc(80% / 3));
    /*grid-template-rows: 100px 100px;
    justify-content: space-between;
    justify-items: center;
    padding: 0 5%;
    margin-bottom: 50px;*/
    justify-items: start;
  }
  .days h2 {
    grid-column: 1/4;
    font-size:1.5em;
    padding-left: 0;
  }
  .days>div {
    width: 80%;
    max-width: 100px;
  }
  .days>div img {
    width: 100%;
    max-width: 100px;
    transition: 0.6s ease;
  }

  
}

@media screen and (max-width: 460px) {
  /*body {
    position: absolute;
    bottom:0;
  }*/
  .social span {
    display: block;
    visibility: hidden;
    font-size: 5px;
  }
  .user_data .info {
    grid-template-columns: 46% calc(46% - 30px);
  }
  
}