<div class="userWrp">
  <div class="user-info" id="userInfo">
    <div class="img"><i class="fas fa-user-tie"></i></div>

    <p class="user-info-value">
      <b>Name: </b> <span> {{name}} </span>
    </p>
    <p class="user-info-value">
      <b>Lastname: </b> <span> {{lastname}} </span>
    </p>
    <p class="user-info-value">
      <b>Birthday: </b> <span> {{year}} </span>
    </p>
    <p class="user-info-value">
      <b>Email: </b> <span> {{email}} </span>
    </p>
    
  </div>
  <a routerLink="/dashboard/all-users">
    <button class="editBtn"><i class="fas fa-arrow-left"></i> Go back</button>
  </a>

</div>
